{{> message}} <!-- Not sure if this page needs the message partial but I included it just in case -->


<form> <!-- method="POST" action="/temp" --> <!--Must create a POST action to connect this form to our databases-->
  <div>
    <!--CLASS--> <!--Could be nice to have a classes database instead of a free text-->
    <div class="row mb-3;">
    	<label for="study_class" class="col-sm-2 col-form-label col-form-label-sm">Class:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control form-control-sm" id="study_class" required>
        </div>
    </div> 
    <!--DAY-->
    <div class="row mb-3">
        <label for="study_day" class="col-sm-2 col-form-label col-form-label-sm">Day:</label>
        <div class="col-sm-10">
            <input type="date" class="form-control form-control-sm" id="study_day" required>
        </div>
      </div>
      <!--TIME-->
      <div class="row mb-3">
        <label for="study_time1" class="col-sm-2 col-form-label col-form-label-sm">Start Time:</label>
        <div class="col-sm-10">
        <div class="cs-form">
          <input type="time" class="form-control" value="--:--" id="study_time1" required>
        </div>
        </div>
        <label for="study_time2" class="col-sm-2 col-form-label col-form-label-sm">End Time:</label>
        <div class="col-sm-10">
        <div class="cs-form">
          <input type="time" class="form-control" value="--:--" id="study_time2" required>
        </div>
        </div>
      </div>
      <!--LOCATION-->
      <div class="row mb-3">
        <label for="study_location" class="col-sm-2 col-form-label col-form-label-sm">Location:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control form-control-sm" id="study_location" required>
        </div>
      </div>                            
  </div>
  <div>
      <input type="submit" class="btn btn-primary"/>
  </div>
</form> 
