{{> message}}

<div>
    <h1>Welcome {{username}}!</h1>


    <table class="table">
        <tr>
            <th>YEAR: {{year}}</th>
            <td>
                    <!-- DROPDOWN FOR YEARS--> 
                        <form method="POST" action="/profile_year">
                            <label for="event_year">Change graduation year:</label>
                            <select id="event_year" name="event_year">
                                 <option selected></option>
                                    <option value="2024">2024</option>
                                    <option value="2025">2025</option>
                                    <option value="2026">2026</option>
                                    <option value="2027">2027</option>
                                    <option value="2028">2028</option>
                                    <option value="2029">2029</option>
                                    <option value="2030">2030</option>
                                </select>
                            <input class="btn btn-primary" type="submit">
                        </form>
                            
 
            <!-- ON SUBMIT: -->
                <!-- GET OLD GRADUATION YEAR FROM DATABASE -->
                <!-- DELETE THE OLD GRADUATION YEAR-->
                <!-- INSERT NEW GRADUATION YEAR --> 

            </td>
        
            

        </tr>
        <tr>
            <th>AREAS OF STUDY: {{major}}</th>
            <td>

                <!-- DROPDOWN FOR AREA OF STUDY--> 
                
                 <!-- USER INPUT FOR NEW GRADUATION YEAR-->
                    <form method="POST" action="/profile_major">
                            <label for="event_major">Select areas of study:</label>
                            <select id="event_major" name="event_major">
                                <option selected></option>
                                    <option selected></option>
                                    <option value="Aerospace Engineering Sciences">Aerospace Engineering Sciences</option>
                                    <option value="Applied Mathematics">Applied Mathematics</option>
                                    <option value="Biomedical Engineering">Biomedical Engineering</option>
                                    <option value="Chemical and Biological Engineering">Chemical and Biological Engineering</option>
                                    <option value="Civil, Environmental and Architectural Engineering">Civil, Environmental and Architectural Engineering</option>
                                    <option value="Computer Science">Computer Science</option>
                                    <option value="Creative Technology and Design">Creative Technology and Design</option>
                                    <option value="Electrical, Computer and Energy Engineering">Electrical, Computer and Energy Engineering</option>
                                    <option value="Engineering and Applied Science">Engineering and Applied Science</option>
                                    <option value="Engineering Management">Engineering Management</option>
                                    <option value="Engineering Physics">Engineering Physics</option>
                                    <option value="Engineering, Ethics and Society">Engineering, Ethics and Society</option>
                                    <option value="Integrated Design Engineering">Integrated Design Engineering</option>
                                    <option value="Materials Science and Engineering">Materials Science and Engineering</option>
                                    <option value="Mechanical Engineering">Mechanical Engineering</option>
                            </select>
                            <input class="btn btn-primary" type="submit">
                    </form>
            </td>
    
            <!-- ON SUBMIT: -->
                <!-- GET OLD MAJOR FROM DATABASE -->
                <!-- DELETE THE OLD MAJOR-->
                <!-- INSERT NEW MAJOR --> 

        </tr>
        <tr>
            <th>DEGREE: {{degree}}</th>
            <td>
             <!-- DROPDOWN FOR DEGREE--> 
                    <form method="POST" action="/profile_degree">
                            <label for="degrees">Select degree type:</label>
                            <select id="event_degrees" name="event_degrees">
                                <option selected></option>
                                <option value="Associate Degree">Associate Degree</option>
                                <option value="Bachelor Degree">Bachelor Degree</option>
                                <option value="Doctorate Degree">Doctorate Degree</option>
                            </select>
                            <input class="btn btn-primary" type="submit">
                    </form>
            
            </td>
           
            <!-- ON SUBMIT: -->
                <!-- GET OLD DEGREE FROM DATABASE -->
                <!-- DELETE THE OLD DEGREE-->
                <!-- INSERT NEW DEGREE --> 

        </tr>
    </table>

</div>
